<h1><%= @search.title %></h1>
<h3><%= @search.search_type %></h3>

<ul class="cbp-rfgrid">
	<% @photos.each do |photo| %>
		<li>
			<a href="<%= photo.url %>" target='_blank' alt="<%= photo.description %>">
			<img src="<%= photo.photo_url %>">
			</a>
			<%= link_to photo.insta_id, edit_photo_path(photo) %>
		</li>
	<% end %>
</ul>



